.LifeCollage {
    width: 1140px;
    padding: 0 20px 0 20px;
    position: absolute;
    top: 267px;
    left: calc(50% - 570px);
}

.LifeCollage>div:hover div {
	opacity: 1;
	transform: translateX(0%);
}